{% extends 'layout.html' %}
    {% block body %}
        <!-- header -->
        <div class="jumbotron text-center">
            <h1>My Naše Novosti - Futbalnet</h1>
        </div>
        <!-- header koniec -->

        <form action="{{ url_for('vystup') }}" method="post">
            <!-- osma liga -->
            <div class="mx-auto" style="width: 40%;">
                <div class="card">
                    <div class="card-header">
                        <center><h3><label><input type="radio" name="liga" value="osem">&nbsp Ôsma liga</label></h3></center>
                    </div>
                    <!-- <div class="card-block">
                        <blockquote class="card-blockquote">
                            <center><p><input type="checkbox" name="checkbox" value="skratkaGoly">&nbsp Skratka krstného mena pre góly</p></center>
                        </blockquote>
                    </div> -->
                </div>
                <!-- osma liga konec -->

                <!-- siedma liga -->
                <div class="card">
                    <div class="card-header">
                        <center><h3><label><input type="radio" name="liga" value="sedem">&nbsp Siedma liga</label></h3></center>
                    </div>
                </div>
                <!-- siedma liga konec-->

                <!-- piata liga -->
                <div class="card">
                    <div class="card-header">
                        <center><h3><label><input type="radio" name="liga" value="pat">&nbsp Piata liga</label></h3></center>
                    </div>
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <center><p><input type="checkbox" name="checkbox" value="skratkaZostavy">&nbsp Skratka krstného mena pre zostavy</p></center>
                        </blockquote>
                    </div>
                </div>
                <!-- piata liga konec -->

                <center><h3>Link:</h3></center>
                <input type="text" class="form-control" name="url">
                <button style="margin-bottom: 100px;" type="submit" class="btn btn-default btn-sm btn-block">Odoslat</button>
            </div>
        </form>
    {% endblock %}