{% extends 'layout.html' %}
    {% block body %}
        <h1>Vystup</h1>
        <div>
        {% if vystup == 'Vo Vami zadanej súťaži sa neodohral žiaden zápas.' %}
            <div class="container">
              <div class="alert alert-danger">
                <strong>Upozornenie!</strong> {{ vystup }} </a>
              </div>
            </div>
        {% else %}
            {% for zapas in vystup %}
                {% for riadok in zapas %}
                    {% if loop.index == 1 %}
                        <b> {{ riadok }} </b>
                    {% else %}
                        {% if loop.index == 3 %}
                            {% for zostava in riadok %}
                                {{ zostava }}
                                <br>
                            {% endfor %}
                        {% else %}
                            {{ riadok }}
                        {% endif %}
                    {% endif %}
                    <br>
                {% endfor %}
            {% endfor %}
        {% endif %}
        </div>

        <form action="javascript:history.go(-1)">
            <br>
            <input type="submit" class="btn btn-success" value="Chcem spracovať ďalší zápas" />
        </form>
        <br><br>
    {% endblock %}