{% extends 'layout.html' %}
    {% block body %}
        <div class="jumbotron text-center">
            <h1>Výstup</h1>
        </div>
        <p class="vystup">
            {% set chyba = [
            "Nezadali ste URL súťaže.",
            "Nevybrali ste žiadnu ligu.",
            "Nezadali ste URL ani nevybrali ligu.",
            "URL zápasu nie je správna.",
            "Vo Vami zadanej súťaži sa neodohral žiaden zápas."] %}

            {% if vystup is number %}
                {% set number = vystup | int %}
                {% if number > -1 %}
                    <div class="container">
                      <div class="alert alert-danger">
                        <strong>Upozornenie!</strong> {{ chyba[number] }} </a>
                      </div>
                    </div>
                {% endif %}
            {% else %}
                {% for zapas in vystup %}
                    {% for riadok in zapas %}
                        {% if loop.index == 1 %}
                            <b> {{ riadok }} </b>
                        {% else %}
                            {% if loop.index == 3 %}
                                {% for zostava in riadok %}
                                    {{ zostava }}
                                    <br>
                                {% endfor %}
                            {% else %}
                                {{ riadok }}
                            {% endif %}
                            {% if loop.index == vystup|length-1 and loop.index != 3%}

                            {% endif %}
                        {% endif %}
                        <br>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </p>

        <center>
            <form action="javascript:history.go(-1)">
                <br>
                <input type="submit" class="btn btn-success" value="Chcem spracovať ďalší zápas" />
            </form>
        </center>
        <br><br>
    {% endblock %}