<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vystup</title>
</head>
<body>
    <h1>Vystup</h1>
    {% for zapas in vystup %}
        {% for riadok in zapas %}
            {% if loop.index == 1 %}
                <b> {{ riadok }} </b>
            {% else %}
                {% if loop.index == 3 %}
                    {% for zostava in riadok %}
                        {{ zostava }}
                        <br>
                    {% endfor %}
                {% else %}
                    {{ riadok }}
                {% endif %}
            {% endif %}
            <br>
        {% endfor %}
        <br>
    {% endfor %}


</body>
</html>