.card{ 
	margin-bottom: 20px
}

div.jumbotron{
	background: #B8DCB1
}

html {
	position: relative;
	min-height: 100%;
}

p.vystup {
	margin-left: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #B8DCB1;
}